
<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <div class="checkbox">
            <label><input type="checkbox" id="obj-<%= attr %>" name="obj-<%= attr %>" data-type="checkbox"> <%= title %></label>
        </div>
        <p class="error-block"></p>
    </div>
</div>