<% layout('../layouts/content') -%>

<% block('breadcrumbs', '<li><%=t('Страница не найдена')%></li>') -%>

<div class="error-page">
    <h2 class="headline text-yellow"> 404</h2>
    <div class="error-content">
        <h3><i class="fa fa-warning text-yellow"></i> <%=t('Страница не найдена')%></h3>
        <p>
            <%=t('Мы не смогли найти страницу, которую вы ищите')%>.
        </p>
    </div>
</div>