<%
  let options = [];
  let resTypes = securityParams.resourceTypes || {};
  for (let type of Object.keys(resTypes)) {
    let item = resTypes[type];
    if (item) {
      options.push({
        value: type === '*' ? '' : type,
        label: item.title
      });
    }
  }
  if (options.length === 0) {
      options.push({value: '', label: 'Общие'});
  }
%>

<% layout('../../crud/object') -%>

<% script(`/${module}/js/object/manager.js`) -%>
<% script(`/${module}/js/security/resource/object.js`) -%>

<div class="form-group">
  <label class="col-sm-2 control-label">Форматы идентификаторов </label>
  <div class="col-sm-10">
    <div class="form-control-static">
      <ul>
        <li>Узел навигации - <b>n:::namespace@code</b></li>
        <li>Класс - <b>c:::classname@namespace</b></li>
        <li>Объект - <b>i:::classname@namespace@id</b></li>
        <li>Атрибут - <b>a:::classname@namespace.propertyName</b></li>
      </ul>
    </div>
  </div>
</div>

<%- partial('../../attrs/_input', { attr: 'id', title: 'Идентификатор', required:'required' }) %>

<%- partial('../../attrs/_input', { attr: 'name', title: 'Название', required:'' }) %>