<ul class="dropdown-menu">
    <li class="header">You have 4 messages</li>
    <li>
        <ul class="menu">
            <li>
                <a href="javascript:void(0)">
                    <h4>
                        Support service
                        <small><i class="fa fa-clock-o"></i> 5 minute</small>
                    </h4>
                    <p>Development of a new theme for the main panel template</p>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <h4>
                        Team of developers
                        <small><i class="fa fa-clock-o"></i> 2 hour</small>
                    </h4>
                    <p>Development of a new theme for the main panel template</p>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <h4>
                        Project managers
                        <small><i class="fa fa-clock-o"></i> Today</small>
                    </h4>
                    <p>Coordination of statements and tasks</p>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <h4>
                        Sales department
                        <small><i class="fa fa-clock-o"></i> Yesterday</small>
                    </h4>
                    <p>Latest product sales report</p>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <h4>
                        Observer
                        <small><i class="fa fa-clock-o"></i> 2 days</small>
                    </h4>
                    <p>New product features</p>
                </a>
            </li>
        </ul>
    </li>
    <li class="footer"><a href="ionadmin/messages">All messages</a></li>
</ul>