<ul class="dropdown-menu">
    <li class="header">У вас 7 уведомлений</li>
    <li>
        <ul class="menu">
            <li>
                <a href="javascript:void(0)">
                    <i class="fa fa-users text-aqua"></i> Сегодня присоединилось 5 новых участников
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <i class="fa fa-warning text-yellow"></i> Очень длинное уведомление, которое может не поместиться в дизайнерский блок и вызвать проблемы с отображением
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <i class="fa fa-users text-red"></i> Собрание участников в 10 утра!
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <i class="fa fa-shopping-cart text-green"></i> Сделано 25 продаж
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <i class="fa fa-user text-red"></i> Вы изменили имя пользователя
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <i class="fa fa-shopping-cart text-green"></i> Сделано 12 продаж
                </a>
            </li>
        </ul>
    </li>
    <li class="footer"><a href="ionadmin/notices">Все уведомления</a></li>
</ul>