<ul class="dropdown-menu">
    <li class="header">У вас 4 сообщения</li>
    <li>
        <ul class="menu">
            <li>
                <a href="javascript:void(0)">
                    <h4>
                        Служба поддержки
                        <small><i class="fa fa-clock-o"></i> 5 минут</small>
                    </h4>
                    <p>Разработка новой темы для основного шаблона панели</p>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <h4>
                        Команда разработчиков
                        <small><i class="fa fa-clock-o"></i> 2 часа</small>
                    </h4>
                    <p>Разработка новой темы для основного шаблона панели</p>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <h4>
                        Менеджеры проекта
                        <small><i class="fa fa-clock-o"></i> Сегодня</small>
                    </h4>
                    <p>Согласование постановок и задач</p>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <h4>
                        Отдел продаж
                        <small><i class="fa fa-clock-o"></i> Вчера</small>
                    </h4>
                    <p>Отчет по последним данным о реализации продукта</p>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <h4>
                        Обозреватели
                        <small><i class="fa fa-clock-o"></i> 2 дня</small>
                    </h4>
                    <p>Новые возможности продукта</p>
                </a>
            </li>
        </ul>
    </li>
    <li class="footer"><a href="ionadmin/messages">Все сообщения</a></li>
</ul>