<ul class="dropdown-menu">
    <li class="header">You have 7 notifications</li>
    <li>
        <ul class="menu">
            <li>
                <a href="javascript:void(0)">
                    <i class="fa fa-users text-aqua"></i> Today 5 new members joined
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <i class="fa fa-warning text-yellow"></i> Very long notification that may not fit into the design block and cause display problems
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <i class="fa fa-users text-red"></i> Meeting of participants at 10am!
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <i class="fa fa-shopping-cart text-green"></i> Made 25 sales
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <i class="fa fa-user text-red"></i> You have changed your username
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <i class="fa fa-shopping-cart text-green"></i> Made 12 sales
                </a>
            </li>
        </ul>
    </li>
    <li class="footer"><a href="ionadmin/notices">All notifications</a></li>
</ul>